@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-doodle-shadow-regular {
	font-family: 'Rubik Doodle Shadow', system-ui;
	font-weight: 400;
	font-style: normal;
}

html {
	font-family: 'Montserrat', sans-serif;
}

.bungee-regular {
	font-family: 'Bungee', sans-serif;
	font-weight: 400;
	font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 0s 600000s, color 0s 600000s !important;
}

.gutter {
	scrollbar-gutter: stable;
}
