@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-doodle-shadow-regular {
	font-family: 'Rubik Doodle Shadow', system-ui;
	font-weight: 400;
	font-style: normal;
}

html {
	font-family: 'Montserrat', sans-serif;
}

.bungee-regular {
	font-family: 'Bungee', sans-serif;
	font-weight: 400;
	font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 0s 600000s, color 0s 600000s !important;
}

.gutter {
	scrollbar-gutter: stable;
}

body {
	--sb-track-color: #141a1d;
	--sb-thumb-color: #0b0b0b;
	--sb-size: 10px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

.custom-scroll {
	--sb-track-color: #141a1d;
	--sb-thumb-color: #0b0b0b;
	--sb-size: 10px;
}

.custom-scroll::-webkit-scrollbar {
	width: var(--sb-size);
}

.custom-scroll::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
	.custom-scroll {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

/* CSS */
.shadow-button {
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	border: 3px solid rgb(0, 0, 0);
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px rgb(0, 0, 0), 2px 2px 0px 0px rgb(0, 0, 0),
		3px 3px 0px 0px, 4px 4px 0px 0px rgb(0, 0, 0), 5px 5px 0px 0px rgb(0, 0, 0);
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.shadow-button:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.shadow-button {
		padding: 0.25em 0.75em;
	}
}

.background-content {
	background: rgb(11, 11, 11);
	background: linear-gradient(
		16deg,
		rgba(11, 11, 11, 1) 0%,
		rgba(30, 30, 30, 1) 100%
	);
}
